#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #dee2e6;
}

#sidebar .nav-link {
    padding: 0.5rem 1rem;
}
#contenedor{
width: 80%;
margin-left: 200px;
margin-right: auto;
}